* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

.header {
  background: #dedede;
  color: green;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.container {
  padding: 12px;
}

.titulo {
  color: green;
  margin: 10px 0;
}

.form-box {
  background: white;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.form-box label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.form-box input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* MAPA */
.map-box {
  position: relative;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

#map {
  position: relative;
  width: 100%;
  height: 55vh;
}

/* BOTÕES */
.map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.map-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.camadas-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.map-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 18px;
}

.camadas-menu {
  position: absolute;
  right: 45px;
  display: flex;
  gap: 6px;
}

.camadas-menu.hidden {
  display: none;
}
.camadas {
  display: flex;
  gap: 6px;
}

.camadas button {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.hidden {
  display: none;
}

.resumo-box {
  background: white;
  padding: 14px;
  border-radius: 10px;
}
#map {
  width: 100%;
  height: 60vh;
  background: #e0e0e0;
}


